@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  :root,
  .light {
    --secondary: 255 255 255; /* white */
    --whitesmoke: 247 247 247;

    --text-primary: 82 82 82; /* bg-stone-600 */

    --border-primary: 87 83 78; /*  */
    --border-secondary: 209 213 219;

    --bg-primary: 247 247 247;
    --bg-secondary: 255 255 255;

    --hover-bg-default: 229 229 229;


  }

  .dark {
    --secondary: 41 37 36;
    --whitesmoke: 247 247 247;

    --text-primary: 247 247 247;

    --border-primary: 247 247 247;
    --border-secondary: 28 25 23;

    --bg-primary: 12 10 9;
    --bg-secondary: 41 37 36;

    --hover-bg-default: 115 115 115;
  }



}

@layer utilities {


  .blue-gradient-text {
    background: linear-gradient(90deg, #38BDF8 0%, #C084FC 50%, #F87171 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .dark-gradient-text {
    background: linear-gradient(90deg, #0f172a 0%, #FED7AA 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .whitesmoke-text {
    color: var(--white-smoke);
  }

  .active {
    /* @apply text-blue-600 !important; */
  }
}